@model Mikro.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Nowe Wpisy</h2>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Post"))
    {
        <div class="form-group">
            @Html.TextAreaFor(m => m.Content, 5, 900, new { @placeholder = "Enter text here" })
            <div>
                <button type="submit" class="btn btn-primary">Wyslij</button>
            </div>
        </div>
    }
}
@Html.Partial("_DisplayingPostsPartial")
